<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.ziroom.minsu.services.evaluate.dao.map.UgcCouponDetailEntityMapper" >
  <resultMap id="BaseResultMap" type="com.ziroom.minsu.entity.evaluate.UgcCouponDetailEntity" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="fid" property="fid" jdbcType="VARCHAR" />
    <result column="ugc_fid" property="ugcFid" jdbcType="VARCHAR" />
    <result column="ugc_category_fid" property="ugcCategoryFid" jdbcType="VARCHAR" />
    <result column="package_fid" property="packageFid" jdbcType="VARCHAR" />
    <result column="package_name" property="packageName" jdbcType="VARCHAR" />
    <result column="coupon_fid" property="couponFid" jdbcType="VARCHAR" />
    <result column="coupon_name" property="couponName" jdbcType="VARCHAR" />
    <result column="start_time" property="startTime" jdbcType="TIMESTAMP" />
    <result column="end_time" property="endTime" jdbcType="TIMESTAMP" />
    <result column="user_uid" property="userUid" jdbcType="VARCHAR" />
    <result column="phone" property="phone" jdbcType="VARCHAR" />
    <result column="status" property="status" jdbcType="INTEGER" />
    <result column="is_del" property="isDel" jdbcType="INTEGER" />
    <result column="operate_user" property="operateUser" jdbcType="VARCHAR" />
    <result column="operate_time" property="operateTime" jdbcType="TIMESTAMP" />
    <result column="create_user" property="createUser" jdbcType="VARCHAR" />
    <result column="create_date" property="createDate" jdbcType="TIMESTAMP" />
    <result column="modify_user" property="modifyUser" jdbcType="VARCHAR" />
    <result column="last_modify_date" property="lastModifyDate" jdbcType="TIMESTAMP" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, fid, ugc_fid, ugc_category_fid, package_fid, package_name, coupon_fid, coupon_name, 
    start_time, end_time, user_uid, phone, status, is_del, operate_user, operate_time, 
    create_user, create_date, modify_user, last_modify_date
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from t_ugc_coupon_detail
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from t_ugc_coupon_detail
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.ziroom.minsu.entity.evaluate.UgcCouponDetailEntity" >
    insert into t_ugc_coupon_detail (id, fid, ugc_fid, 
      ugc_category_fid, package_fid, package_name, 
      coupon_fid, coupon_name, start_time, 
      end_time, user_uid, phone, 
      status, is_del, operate_user, 
      operate_time, create_user, create_date, 
      modify_user, last_modify_date)
    values (#{id,jdbcType=INTEGER}, #{fid,jdbcType=VARCHAR}, #{ugcFid,jdbcType=VARCHAR}, 
      #{ugcCategoryFid,jdbcType=VARCHAR}, #{packageFid,jdbcType=VARCHAR}, #{packageName,jdbcType=VARCHAR}, 
      #{couponFid,jdbcType=VARCHAR}, #{couponName,jdbcType=VARCHAR}, #{startTime,jdbcType=TIMESTAMP}, 
      #{endTime,jdbcType=TIMESTAMP}, #{userUid,jdbcType=VARCHAR}, #{phone,jdbcType=VARCHAR}, 
      #{status,jdbcType=INTEGER}, #{isDel,jdbcType=INTEGER}, #{operateUser,jdbcType=VARCHAR}, 
      #{operateTime,jdbcType=TIMESTAMP}, #{createUser,jdbcType=VARCHAR}, #{createDate,jdbcType=TIMESTAMP}, 
      #{modifyUser,jdbcType=VARCHAR}, #{lastModifyDate,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.ziroom.minsu.entity.evaluate.UgcCouponDetailEntity" >
    insert into t_ugc_coupon_detail
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="fid != null" >
        fid,
      </if>
      <if test="ugcFid != null" >
        ugc_fid,
      </if>
      <if test="ugcCategoryFid != null" >
        ugc_category_fid,
      </if>
      <if test="packageFid != null" >
        package_fid,
      </if>
      <if test="packageName != null" >
        package_name,
      </if>
      <if test="couponFid != null" >
        coupon_fid,
      </if>
      <if test="couponName != null" >
        coupon_name,
      </if>
      <if test="startTime != null" >
        start_time,
      </if>
      <if test="endTime != null" >
        end_time,
      </if>
      <if test="userUid != null" >
        user_uid,
      </if>
      <if test="phone != null" >
        phone,
      </if>
      <if test="status != null" >
        status,
      </if>
      <if test="isDel != null" >
        is_del,
      </if>
      <if test="operateUser != null" >
        operate_user,
      </if>
      <if test="operateTime != null" >
        operate_time,
      </if>
      <if test="createUser != null" >
        create_user,
      </if>
      <if test="createDate != null" >
        create_date,
      </if>
      <if test="modifyUser != null" >
        modify_user,
      </if>
      <if test="lastModifyDate != null" >
        last_modify_date,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="fid != null" >
        #{fid,jdbcType=VARCHAR},
      </if>
      <if test="ugcFid != null" >
        #{ugcFid,jdbcType=VARCHAR},
      </if>
      <if test="ugcCategoryFid != null" >
        #{ugcCategoryFid,jdbcType=VARCHAR},
      </if>
      <if test="packageFid != null" >
        #{packageFid,jdbcType=VARCHAR},
      </if>
      <if test="packageName != null" >
        #{packageName,jdbcType=VARCHAR},
      </if>
      <if test="couponFid != null" >
        #{couponFid,jdbcType=VARCHAR},
      </if>
      <if test="couponName != null" >
        #{couponName,jdbcType=VARCHAR},
      </if>
      <if test="startTime != null" >
        #{startTime,jdbcType=TIMESTAMP},
      </if>
      <if test="endTime != null" >
        #{endTime,jdbcType=TIMESTAMP},
      </if>
      <if test="userUid != null" >
        #{userUid,jdbcType=VARCHAR},
      </if>
      <if test="phone != null" >
        #{phone,jdbcType=VARCHAR},
      </if>
      <if test="status != null" >
        #{status,jdbcType=INTEGER},
      </if>
      <if test="isDel != null" >
        #{isDel,jdbcType=INTEGER},
      </if>
      <if test="operateUser != null" >
        #{operateUser,jdbcType=VARCHAR},
      </if>
      <if test="operateTime != null" >
        #{operateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="createUser != null" >
        #{createUser,jdbcType=VARCHAR},
      </if>
      <if test="createDate != null" >
        #{createDate,jdbcType=TIMESTAMP},
      </if>
      <if test="modifyUser != null" >
        #{modifyUser,jdbcType=VARCHAR},
      </if>
      <if test="lastModifyDate != null" >
        #{lastModifyDate,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.ziroom.minsu.entity.evaluate.UgcCouponDetailEntity" >
    update t_ugc_coupon_detail
    <set >
      <if test="fid != null" >
        fid = #{fid,jdbcType=VARCHAR},
      </if>
      <if test="ugcFid != null" >
        ugc_fid = #{ugcFid,jdbcType=VARCHAR},
      </if>
      <if test="ugcCategoryFid != null" >
        ugc_category_fid = #{ugcCategoryFid,jdbcType=VARCHAR},
      </if>
      <if test="packageFid != null" >
        package_fid = #{packageFid,jdbcType=VARCHAR},
      </if>
      <if test="packageName != null" >
        package_name = #{packageName,jdbcType=VARCHAR},
      </if>
      <if test="couponFid != null" >
        coupon_fid = #{couponFid,jdbcType=VARCHAR},
      </if>
      <if test="couponName != null" >
        coupon_name = #{couponName,jdbcType=VARCHAR},
      </if>
      <if test="startTime != null" >
        start_time = #{startTime,jdbcType=TIMESTAMP},
      </if>
      <if test="endTime != null" >
        end_time = #{endTime,jdbcType=TIMESTAMP},
      </if>
      <if test="userUid != null" >
        user_uid = #{userUid,jdbcType=VARCHAR},
      </if>
      <if test="phone != null" >
        phone = #{phone,jdbcType=VARCHAR},
      </if>
      <if test="status != null" >
        status = #{status,jdbcType=INTEGER},
      </if>
      <if test="isDel != null" >
        is_del = #{isDel,jdbcType=INTEGER},
      </if>
      <if test="operateUser != null" >
        operate_user = #{operateUser,jdbcType=VARCHAR},
      </if>
      <if test="operateTime != null" >
        operate_time = #{operateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="createUser != null" >
        create_user = #{createUser,jdbcType=VARCHAR},
      </if>
      <if test="createDate != null" >
        create_date = #{createDate,jdbcType=TIMESTAMP},
      </if>
      <if test="modifyUser != null" >
        modify_user = #{modifyUser,jdbcType=VARCHAR},
      </if>
      <if test="lastModifyDate != null" >
        last_modify_date = #{lastModifyDate,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.ziroom.minsu.entity.evaluate.UgcCouponDetailEntity" >
    update t_ugc_coupon_detail
    set fid = #{fid,jdbcType=VARCHAR},
      ugc_fid = #{ugcFid,jdbcType=VARCHAR},
      ugc_category_fid = #{ugcCategoryFid,jdbcType=VARCHAR},
      package_fid = #{packageFid,jdbcType=VARCHAR},
      package_name = #{packageName,jdbcType=VARCHAR},
      coupon_fid = #{couponFid,jdbcType=VARCHAR},
      coupon_name = #{couponName,jdbcType=VARCHAR},
      start_time = #{startTime,jdbcType=TIMESTAMP},
      end_time = #{endTime,jdbcType=TIMESTAMP},
      user_uid = #{userUid,jdbcType=VARCHAR},
      phone = #{phone,jdbcType=VARCHAR},
      status = #{status,jdbcType=INTEGER},
      is_del = #{isDel,jdbcType=INTEGER},
      operate_user = #{operateUser,jdbcType=VARCHAR},
      operate_time = #{operateTime,jdbcType=TIMESTAMP},
      create_user = #{createUser,jdbcType=VARCHAR},
      create_date = #{createDate,jdbcType=TIMESTAMP},
      modify_user = #{modifyUser,jdbcType=VARCHAR},
      last_modify_date = #{lastModifyDate,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>