<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.ziroom.minsu.services.evaluate.dao.map.UgcImpressPraiseEntityMapper" >
  <resultMap id="BaseResultMap" type="com.ziroom.minsu.entity.evaluate.UgcImpressPraiseEntity" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="fid" property="fid" jdbcType="VARCHAR" />
    <result column="impress_fid" property="impressFid" jdbcType="VARCHAR" />
    <result column="operate_user" property="operateUser" jdbcType="VARCHAR" />
    <result column="device_num" property="deviceNum" jdbcType="VARCHAR" />
    <result column="operate_status" property="operateStatus" jdbcType="INTEGER" />
    <result column="create_date" property="createDate" jdbcType="TIMESTAMP" />
    <result column="last_modify_date" property="lastModifyDate" jdbcType="TIMESTAMP" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, fid, impress_fid, operate_user, device_num, operate_status, create_date, last_modify_date
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from t_ugc_impress_praise
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from t_ugc_impress_praise
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.ziroom.minsu.entity.evaluate.UgcImpressPraiseEntity" >
    insert into t_ugc_impress_praise (id, fid, impress_fid, 
      operate_user, device_num, operate_status, 
      create_date, last_modify_date)
    values (#{id,jdbcType=INTEGER}, #{fid,jdbcType=VARCHAR}, #{impressFid,jdbcType=VARCHAR}, 
      #{operateUser,jdbcType=VARCHAR}, #{deviceNum,jdbcType=VARCHAR}, #{operateStatus,jdbcType=INTEGER}, 
      #{createDate,jdbcType=TIMESTAMP}, #{lastModifyDate,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.ziroom.minsu.entity.evaluate.UgcImpressPraiseEntity" >
    insert into t_ugc_impress_praise
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="fid != null" >
        fid,
      </if>
      <if test="impressFid != null" >
        impress_fid,
      </if>
      <if test="operateUser != null" >
        operate_user,
      </if>
      <if test="deviceNum != null" >
        device_num,
      </if>
      <if test="operateStatus != null" >
        operate_status,
      </if>
      <if test="createDate != null" >
        create_date,
      </if>
      <if test="lastModifyDate != null" >
        last_modify_date,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="fid != null" >
        #{fid,jdbcType=VARCHAR},
      </if>
      <if test="impressFid != null" >
        #{impressFid,jdbcType=VARCHAR},
      </if>
      <if test="operateUser != null" >
        #{operateUser,jdbcType=VARCHAR},
      </if>
      <if test="deviceNum != null" >
        #{deviceNum,jdbcType=VARCHAR},
      </if>
      <if test="operateStatus != null" >
        #{operateStatus,jdbcType=INTEGER},
      </if>
      <if test="createDate != null" >
        #{createDate,jdbcType=TIMESTAMP},
      </if>
      <if test="lastModifyDate != null" >
        #{lastModifyDate,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.ziroom.minsu.entity.evaluate.UgcImpressPraiseEntity" >
    update t_ugc_impress_praise
    <set >
      <if test="fid != null" >
        fid = #{fid,jdbcType=VARCHAR},
      </if>
      <if test="impressFid != null" >
        impress_fid = #{impressFid,jdbcType=VARCHAR},
      </if>
      <if test="operateUser != null" >
        operate_user = #{operateUser,jdbcType=VARCHAR},
      </if>
      <if test="deviceNum != null" >
        device_num = #{deviceNum,jdbcType=VARCHAR},
      </if>
      <if test="operateStatus != null" >
        operate_status = #{operateStatus,jdbcType=INTEGER},
      </if>
      <if test="createDate != null" >
        create_date = #{createDate,jdbcType=TIMESTAMP},
      </if>
      <if test="lastModifyDate != null" >
        last_modify_date = #{lastModifyDate,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.ziroom.minsu.entity.evaluate.UgcImpressPraiseEntity" >
    update t_ugc_impress_praise
    set fid = #{fid,jdbcType=VARCHAR},
      impress_fid = #{impressFid,jdbcType=VARCHAR},
      operate_user = #{operateUser,jdbcType=VARCHAR},
      device_num = #{deviceNum,jdbcType=VARCHAR},
      operate_status = #{operateStatus,jdbcType=INTEGER},
      create_date = #{createDate,jdbcType=TIMESTAMP},
      last_modify_date = #{lastModifyDate,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>