<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.ziroom.zspace.service.order.dao.map.diet.ShopMapper" >
  <resultMap id="BaseResultMap" type="com.ziroom.zspace.service.order.entity.diet.Shop" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="fid" property="fid" jdbcType="VARCHAR" />
    <result column="service_line" property="serviceLine" jdbcType="INTEGER" />
    <result column="tenancy_id" property="tenancyId" jdbcType="VARCHAR" />
    <result column="organ_code" property="organCode" jdbcType="VARCHAR" />
    <result column="organ_short_name" property="organShortName" jdbcType="VARCHAR" />
    <result column="organ_full_name" property="organFullName" jdbcType="VARCHAR" />
    <result column="organ_type" property="organType" jdbcType="INTEGER" />
    <result column="is_del" property="isDel" jdbcType="INTEGER" />
    <result column="create_code" property="createCode" jdbcType="VARCHAR" />
    <result column="modify_code" property="modifyCode" jdbcType="VARCHAR" />
    <result column="create_date" property="createDate" jdbcType="TIMESTAMP" />
    <result column="last_modify_date" property="lastModifyDate" jdbcType="TIMESTAMP" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, fid, service_line, tenancy_id, organ_code, organ_short_name, organ_full_name, 
    organ_type, is_del, create_code, modify_code, create_date, last_modify_date
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from t_space_diet_order_tenancy_shop
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from t_space_diet_order_tenancy_shop
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.ziroom.zspace.service.order.entity.diet.Shop" >
    insert into t_space_diet_order_tenancy_shop (id, fid, service_line, 
      tenancy_id, organ_code, organ_short_name, 
      organ_full_name, organ_type, is_del, 
      create_code, modify_code, create_date, 
      last_modify_date)
    values (#{id,jdbcType=INTEGER}, #{fid,jdbcType=VARCHAR}, #{serviceLine,jdbcType=INTEGER}, 
      #{tenancyId,jdbcType=VARCHAR}, #{organCode,jdbcType=VARCHAR}, #{organShortName,jdbcType=VARCHAR}, 
      #{organFullName,jdbcType=VARCHAR}, #{organType,jdbcType=INTEGER}, #{isDel,jdbcType=INTEGER}, 
      #{createCode,jdbcType=VARCHAR}, #{modifyCode,jdbcType=VARCHAR}, #{createDate,jdbcType=TIMESTAMP}, 
      #{lastModifyDate,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.ziroom.zspace.service.order.entity.diet.Shop" >
    insert into t_space_diet_order_tenancy_shop
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="fid != null" >
        fid,
      </if>
      <if test="serviceLine != null" >
        service_line,
      </if>
      <if test="tenancyId != null" >
        tenancy_id,
      </if>
      <if test="organCode != null" >
        organ_code,
      </if>
      <if test="organShortName != null" >
        organ_short_name,
      </if>
      <if test="organFullName != null" >
        organ_full_name,
      </if>
      <if test="organType != null" >
        organ_type,
      </if>
      <if test="isDel != null" >
        is_del,
      </if>
      <if test="createCode != null" >
        create_code,
      </if>
      <if test="modifyCode != null" >
        modify_code,
      </if>
      <if test="createDate != null" >
        create_date,
      </if>
      <if test="lastModifyDate != null" >
        last_modify_date,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="fid != null" >
        #{fid,jdbcType=VARCHAR},
      </if>
      <if test="serviceLine != null" >
        #{serviceLine,jdbcType=INTEGER},
      </if>
      <if test="tenancyId != null" >
        #{tenancyId,jdbcType=VARCHAR},
      </if>
      <if test="organCode != null" >
        #{organCode,jdbcType=VARCHAR},
      </if>
      <if test="organShortName != null" >
        #{organShortName,jdbcType=VARCHAR},
      </if>
      <if test="organFullName != null" >
        #{organFullName,jdbcType=VARCHAR},
      </if>
      <if test="organType != null" >
        #{organType,jdbcType=INTEGER},
      </if>
      <if test="isDel != null" >
        #{isDel,jdbcType=INTEGER},
      </if>
      <if test="createCode != null" >
        #{createCode,jdbcType=VARCHAR},
      </if>
      <if test="modifyCode != null" >
        #{modifyCode,jdbcType=VARCHAR},
      </if>
      <if test="createDate != null" >
        #{createDate,jdbcType=TIMESTAMP},
      </if>
      <if test="lastModifyDate != null" >
        #{lastModifyDate,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.ziroom.zspace.service.order.entity.diet.Shop" >
    update t_space_diet_order_tenancy_shop
    <set >
      <if test="fid != null" >
        fid = #{fid,jdbcType=VARCHAR},
      </if>
      <if test="serviceLine != null" >
        service_line = #{serviceLine,jdbcType=INTEGER},
      </if>
      <if test="tenancyId != null" >
        tenancy_id = #{tenancyId,jdbcType=VARCHAR},
      </if>
      <if test="organCode != null" >
        organ_code = #{organCode,jdbcType=VARCHAR},
      </if>
      <if test="organShortName != null" >
        organ_short_name = #{organShortName,jdbcType=VARCHAR},
      </if>
      <if test="organFullName != null" >
        organ_full_name = #{organFullName,jdbcType=VARCHAR},
      </if>
      <if test="organType != null" >
        organ_type = #{organType,jdbcType=INTEGER},
      </if>
      <if test="isDel != null" >
        is_del = #{isDel,jdbcType=INTEGER},
      </if>
      <if test="createCode != null" >
        create_code = #{createCode,jdbcType=VARCHAR},
      </if>
      <if test="modifyCode != null" >
        modify_code = #{modifyCode,jdbcType=VARCHAR},
      </if>
      <if test="createDate != null" >
        create_date = #{createDate,jdbcType=TIMESTAMP},
      </if>
      <if test="lastModifyDate != null" >
        last_modify_date = #{lastModifyDate,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.ziroom.zspace.service.order.entity.diet.Shop" >
    update t_space_diet_order_tenancy_shop
    set fid = #{fid,jdbcType=VARCHAR},
      service_line = #{serviceLine,jdbcType=INTEGER},
      tenancy_id = #{tenancyId,jdbcType=VARCHAR},
      organ_code = #{organCode,jdbcType=VARCHAR},
      organ_short_name = #{organShortName,jdbcType=VARCHAR},
      organ_full_name = #{organFullName,jdbcType=VARCHAR},
      organ_type = #{organType,jdbcType=INTEGER},
      is_del = #{isDel,jdbcType=INTEGER},
      create_code = #{createCode,jdbcType=VARCHAR},
      modify_code = #{modifyCode,jdbcType=VARCHAR},
      create_date = #{createDate,jdbcType=TIMESTAMP},
      last_modify_date = #{lastModifyDate,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>