<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.ziroom.zspace.service.order.dao.map.PaymentBillDetailMapper" >
  <resultMap id="BaseResultMap" type="com.ziroom.zspace.service.order.entity.PaymentBillDetailEntity" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="fid" property="fid" jdbcType="VARCHAR" />
    <result column="refund_fid" property="refundFid" jdbcType="VARCHAR" />
    <result column="bill_num" property="billNum" jdbcType="VARCHAR" />
    <result column="bus_id" property="busId" jdbcType="VARCHAR" />
    <result column="remit_status" property="remitStatus" jdbcType="INTEGER" />
    <result column="fail_reason" property="failReason" jdbcType="VARCHAR" />
    <result column="pay_time" property="payTime" jdbcType="TIMESTAMP" />
    <result column="is_del" property="isDel" jdbcType="INTEGER" />
    <result column="create_code" property="createCode" jdbcType="VARCHAR" />
    <result column="modify_code" property="modifyCode" jdbcType="VARCHAR" />
    <result column="last_modify_date" property="lastModifyDate" jdbcType="TIMESTAMP" />
    <result column="create_date" property="createDate" jdbcType="TIMESTAMP" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, fid, refund_fid, bill_num, bus_id, remit_status, fail_reason, pay_time, is_del, 
    create_code, modify_code, last_modify_date, create_date
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from t_space_payment_bill_detail
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from t_space_payment_bill_detail
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.ziroom.zspace.service.order.entity.PaymentBillDetailEntity" >
    insert into t_space_payment_bill_detail (id, fid, refund_fid, 
      bill_num, bus_id, remit_status, 
      fail_reason, pay_time, is_del, 
      create_code, modify_code, last_modify_date, 
      create_date)
    values (#{id,jdbcType=INTEGER}, #{fid,jdbcType=VARCHAR}, #{refundFid,jdbcType=VARCHAR}, 
      #{billNum,jdbcType=VARCHAR}, #{busId,jdbcType=VARCHAR}, #{remitStatus,jdbcType=INTEGER}, 
      #{failReason,jdbcType=VARCHAR}, #{payTime,jdbcType=TIMESTAMP}, #{isDel,jdbcType=INTEGER}, 
      #{createCode,jdbcType=VARCHAR}, #{modifyCode,jdbcType=VARCHAR}, #{lastModifyDate,jdbcType=TIMESTAMP}, 
      #{createDate,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.ziroom.zspace.service.order.entity.PaymentBillDetailEntity" >
    insert into t_space_payment_bill_detail
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="fid != null" >
        fid,
      </if>
      <if test="refundFid != null" >
        refund_fid,
      </if>
      <if test="billNum != null" >
        bill_num,
      </if>
      <if test="busId != null" >
        bus_id,
      </if>
      <if test="remitStatus != null" >
        remit_status,
      </if>
      <if test="failReason != null" >
        fail_reason,
      </if>
      <if test="payTime != null" >
        pay_time,
      </if>
      <if test="isDel != null" >
        is_del,
      </if>
      <if test="createCode != null" >
        create_code,
      </if>
      <if test="modifyCode != null" >
        modify_code,
      </if>
      <if test="lastModifyDate != null" >
        last_modify_date,
      </if>
      <if test="createDate != null" >
        create_date,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="fid != null" >
        #{fid,jdbcType=VARCHAR},
      </if>
      <if test="refundFid != null" >
        #{refundFid,jdbcType=VARCHAR},
      </if>
      <if test="billNum != null" >
        #{billNum,jdbcType=VARCHAR},
      </if>
      <if test="busId != null" >
        #{busId,jdbcType=VARCHAR},
      </if>
      <if test="remitStatus != null" >
        #{remitStatus,jdbcType=INTEGER},
      </if>
      <if test="failReason != null" >
        #{failReason,jdbcType=VARCHAR},
      </if>
      <if test="payTime != null" >
        #{payTime,jdbcType=TIMESTAMP},
      </if>
      <if test="isDel != null" >
        #{isDel,jdbcType=INTEGER},
      </if>
      <if test="createCode != null" >
        #{createCode,jdbcType=VARCHAR},
      </if>
      <if test="modifyCode != null" >
        #{modifyCode,jdbcType=VARCHAR},
      </if>
      <if test="lastModifyDate != null" >
        #{lastModifyDate,jdbcType=TIMESTAMP},
      </if>
      <if test="createDate != null" >
        #{createDate,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.ziroom.zspace.service.order.entity.PaymentBillDetailEntity" >
    update t_space_payment_bill_detail
    <set >
      <if test="fid != null" >
        fid = #{fid,jdbcType=VARCHAR},
      </if>
      <if test="refundFid != null" >
        refund_fid = #{refundFid,jdbcType=VARCHAR},
      </if>
      <if test="billNum != null" >
        bill_num = #{billNum,jdbcType=VARCHAR},
      </if>
      <if test="busId != null" >
        bus_id = #{busId,jdbcType=VARCHAR},
      </if>
      <if test="remitStatus != null" >
        remit_status = #{remitStatus,jdbcType=INTEGER},
      </if>
      <if test="failReason != null" >
        fail_reason = #{failReason,jdbcType=VARCHAR},
      </if>
      <if test="payTime != null" >
        pay_time = #{payTime,jdbcType=TIMESTAMP},
      </if>
      <if test="isDel != null" >
        is_del = #{isDel,jdbcType=INTEGER},
      </if>
      <if test="createCode != null" >
        create_code = #{createCode,jdbcType=VARCHAR},
      </if>
      <if test="modifyCode != null" >
        modify_code = #{modifyCode,jdbcType=VARCHAR},
      </if>
      <if test="lastModifyDate != null" >
        last_modify_date = #{lastModifyDate,jdbcType=TIMESTAMP},
      </if>
      <if test="createDate != null" >
        create_date = #{createDate,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.ziroom.zspace.service.order.entity.PaymentBillDetailEntity" >
    update t_space_payment_bill_detail
    set fid = #{fid,jdbcType=VARCHAR},
      refund_fid = #{refundFid,jdbcType=VARCHAR},
      bill_num = #{billNum,jdbcType=VARCHAR},
      bus_id = #{busId,jdbcType=VARCHAR},
      remit_status = #{remitStatus,jdbcType=INTEGER},
      fail_reason = #{failReason,jdbcType=VARCHAR},
      pay_time = #{payTime,jdbcType=TIMESTAMP},
      is_del = #{isDel,jdbcType=INTEGER},
      create_code = #{createCode,jdbcType=VARCHAR},
      modify_code = #{modifyCode,jdbcType=VARCHAR},
      last_modify_date = #{lastModifyDate,jdbcType=TIMESTAMP},
      create_date = #{createDate,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>